body {
    background: url(../images/background.jpg)  ;
}




#container {
  
    
    width: 1200px;
    margin: auto;  
}
#postcard {
    background: url(../images/postCard.jpg)  center no-repeat;
    background-size: 1200px;
    /* border-style: solid;
    border-width: 4px; */
    
    
}
#title {
    padding: 70px 0px 60px 0px;
    /* border-style: solid;
    border-width: 4px; */

}
h1  {
    text-align: center;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 60px;
    /* text-shadow: 2px 2px 8px rgb(30, 32, 30); */
    color:gold;

    
}
p {
    font-family: 'Homemade Apple', cursive;
    font-size: 22px;
    font-style: bold;
    padding: 10px 10px 10px 100px;
    /* border-style: solid;
    border-width: 4px; */
}
#red {
   
    height: 200px;
    width: auto;
    margin: 0px 0px 0px 50px;
    box-shadow: 10px 10px 5px black;

  }
 #blue {
   
    height: 200px;
    width: auto;
    border: none;
    box-shadow: 10px 10px 5px black;
  }
  #yellow {
   
    height: 200px;
    width: auto;
    border: none;
    box-shadow: 10px 10px 5px black;
  }
  #green {
   
    height: 200px;
    width: auto;
    border: none;
    box-shadow: 10px 10px 5px black;
  }
h2 {
    font-family: 'Russo One', sans-serif;
    font-size: 50px;

}
#postageTotal {
    /* float: right; */
    display: inline-block;
    padding:  0px 100px 75px 100px;
    /* border-style: solid;
    border-width: 4px; */
}
#postagePrice {
    /* float: left; */
    display: inline-block;
    padding:  0px 100px 75px 100px;
    /* border-style: solid;
    border-width: 4px; */
}
#lastCol{
    display: inline-block;
    margin: 0px 0px 0px 50px;
}
#messagePass {
    text-align: center;
}
/* font-family: 'Homemade Apple', cursive;
font-family: 'Russo One', sans-serif;
font-family: 'Nothing You Could Do', cursive; */